/DMS Stores/nbproject/private/
/DMS Stores/build/
/DMS Stores/dist/
/ProxyPattern/nbproject/private/
/ProxyPattern/build/
/ObserverPattern/nbproject/private/
/ObserverPattern/build/
/FacadeTest/nbproject/private/
/FacadeTest/build/
